body{
    margin: 10px;
}
hr{
    border-top: 1px solid rgb(211, 211, 211);
}
.cursor_point{
    cursor: pointer;
}

.text_align_center{
    text-align: center;
}

.font_green{
    color:rgb(33, 226, 75)
}

.font_bold{
    font-weight: bold;
    
}

.flex_column{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.flex_row{
    display: flex;
    flex-direction: row;
}

.flex_item_center{
    display: flex;
    align-items: center;
}

.flex_item{
    margin: 10px;
}
.flex_item:nth-child(1){
    flex: 2;
}
.flex_item:nth-child(2){
    flex: 1;
}


.margin_left_auto{
    margin-left: auto;
}
.margin_right_auto{
    margin-right: auto;
}

#main_logo{
    margin-right: 20px;
}

.search{
    border:2px solid rgb(33, 226, 75);
    padding:20px;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
#search_input{
    width: 600px;
}
.green_btn{
    background-color: rgb(33, 226, 75);
    color: white;
}
#outside_div{
    margin-bottom: 20px;
}

#outside{
    margin-left: 10px;
    font-size: 12px;
    color: gray;
}

.margin_center{
    margin-left: auto;
    margin-right: auto;
}

.main_meue{
    margin-top: 12px;
    margin-bottom: 12px;
}
.main_meue div{
    margin-right: 50px;
}

#meue_main span{
    margin: 7.5px;
}


#detail_meue{
    display: none;
}

#detail_meue_line{
    width: 1px;
    border-left: 1px solid rgb(211, 211, 211);
}

#detail_meue .flex_column{
    width: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.news_background{
    background-color: rgb(241, 241, 241);
    padding: 20px;
}

#main_content{
    width: 1200px;
}

.main_content{
    height: 150px;
    text-align: center;
    line-height: 150px;
}

#advertisement{
    background-color: hotpink;
    margin-bottom: 20px;
    
}
.user_info_div span{
    margin-right: 10px;
    display: block;
}

#sign_in_btn{
    padding-top: 10px;
    padding-bottom: 10px;
}

#sign_in_btn:hover{
    background-color: rgb(27, 182, 61);
}

.login_com_font{
    color:rgb(119, 119, 119);
    font-size: 12px;
}

#login_com{
    height: 110px;
}

#login_com div{
    margin-bottom: 15px;
}

#sign_up_btn{
    margin-left: auto;
    margin-right: 0px;
}